<%- include ../partials/head.ejs %> <%- include ../partials/navbar.ejs %>

<div class="container-fluid mt-2 container-expand-md">
  <div>
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link active" role="tab" data-toggle="tab" href="#tab-1"
          >Rutas</a
        >
      </li>

      <% if(role === "admin"){ %>

      <li class="nav-item">
        <a class="nav-link" role="tab" data-toggle="tab" href="#tab-2"
          >Crear ruta</a
        >
      </li>

      <% } %>
    </ul>

    <!-- Pestanas -->

    <div class="tab-content">
      
      <!-- Pestana 1 -->

      <div class="tab-pane active" role="tabpanel" id="tab-1">
        <div id="rutas" class="tab-panel">
          <label> 
            <strong>Lista de rutas</strong><br /> 
          </label>
          <hr />

          <% if(typeof rutas != 'undefined' && rutas.length != 0) { %>

          <div class="form-container">
            
              <div id="accordion">

                <!-- Lista de tarjetas desplegables -->

                <% rutas.forEach(result => { %>

                <div class="card mb-2">
                  <div class="card-header d-flex  align-items-center">

                    <h5 class="mr-auto">
                      <button
                        class="btn btn-link"
                        type="button"
                        data-toggle="collapse"
                        data-target="#<%= result.name.replace(/ /g, "") %>"
                      >
                        <%= result.name %>
                      </button>
                    </h5>

                    <h6 class="text-muted mr-4">
                      <%= result.ciudad %>
                    </h6>

                    <% if(role === "user"){%>

                    <form 
                    method="POST" 
                    action="/rewards">
                    <input class="d-none" type="text" name="name" value="<%= result.name %>">
                    <input class="d-none" type="text" name="ciudad" value="<%= result.ciudad %>">
                    <input class="d-none" type="text" name="recompensa" value="<%= result.recompensa %>">
                    <input class="d-none" type="array" name="puntos" value="<%= result.puntos %>">
                      <button
                          class="btn btn-success btn-sm mr-4"
                          type="submit"
                        >
                          Empezar
                        </button>
                    </form>

                    <% } %>

                  </div>
                  <div
                    id="<%= result.name.replace(/ /g, "") %>"
                    class="collapse"
                    data-parent="#accordion"
                  >
                    <div class="card-body">
                      <form method="POST" class="mb-3">
                        
                        <!-- Descripcion -->
                        <div class="form-group d-flex align-items-center">
                          <div class="input-group">
                            <div class="input-group-prepend">
                              <span class="input-group-text">Descripción</span>
                            </div>
                            <input
                              class="form-control"
                              type="text"
                              value="<%= result.descripcion %>"
                              readonly=""
                            />
                          </div>
                        </div>

                        <!-- Ciudad y recompensa -->
                        <div class="form-row">
                          <div class="form-group d-flex align-items-center col-6">
                            <div class="input-group">
                              <div class="input-group-prepend">
                                <span class="input-group-text">Ciudad</span>
                              </div>
                              <input
                                class="form-control"
                                type="text"
                                readonly=""
                                value="<%= result.ciudad %>"
                              />
                            </div>
                          </div>
                          <!-- Recompensa -->
                          <div class="form-group d-flex align-items-center col-6">
                            <div class="input-group">
                              <div class="input-group-prepend">
                                <span class="input-group-text">Recompensa</span>
                              </div>
                              <input
                                class="form-control"
                                type="text"
                                readonly=""
                                value="<%= result.recompensa %>"
                              />
                            </div>
                          </div>
                        </div>

                        <!-- Lista de beacons -->
                        <label>
                          <strong>Puntos de prueba de paso necesarios</strong
                          ><br />
                        </label>
                        <hr />

                        <div class="form-group">
                          <ul class="list-group">
                          <% result.puntos.forEach(result => { %>

                          <li class="list-group-item">
                            <div><span><%= result %></span></div>
                          </li>

                          <% }); %>
                          </ul>
                        </div>

                        <% if(role === "admin"){ %>

                          <!-- Modificar -->
                          <!-- <div class="col-6 d-inline-block float-left">
                            <button
                              class="btn btn-primary btn-block"
                              type="submit"
                              id="boton-modificar-ppp"
                            >
                              Modificar
                            </button>
                          </div> -->
    
                        <% } %>

                      </form>

                      <% if(role === "admin"){ %>

                        <!-- Eliminar -->
                        <div class="col-12 d-inline-block">
                          <form
                            method="POST"
                            action="/routes/<%= result._id %>?_method=DELETE"
                          >
                            <button class="btn btn-danger btn-block" type="submit">
                              Eliminar
                            </button>
                          </form>
                        </div>
    
                      <% } %>

                    </div>
                  </div>
                </div>

                <% }); %>
              </div> 
          </div>

          <% } else { %>

          <div class="alert alert-warning" role="alert">
            No hay rutas creadas
          </div>

          <% } %>
        </div>
      </div>

      <!-- Pestana 2 -->

      <%/* if(role === "admin"){ */%>

      <div class="tab-pane" role="tabpanel" id="tab-2">
        <div id="crear-ruta" class="tab-panel">
          <label>
            <strong>Datos de la ruta</strong>
          </label>
          <hr />

          <div class="form-container">
            <form 
            method="POST" 
            class="mb-3">
              <div class="form-group d-flex align-items-center">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">Nombre</span>
                  </div>
                  <input class="form-control" type="text" name="name" />
                </div>
              </div>
              <div class="form-group d-flex align-items-center">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">Descripción</span>
                  </div>
                  <input class="form-control" type="text" name="descripcion" />
                </div>
              </div>
              <div class="form-row">
                <div class="form-group d-flex align-items-center col-6">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">Ciudad</span>
                    </div>
                    <input
                      class="form-control"
                      type="text"
                      name="ciudad"
                      id="ciudad"
                      autocomplete="off"
                      onkeyup="myFunction()"
                    />
                  </div>
                </div>
                <div class="form-group d-flex align-items-center col-6">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">Recompensa</span>
                    </div>
                    <input class="form-control" type="text" name="recompensa" />
                  </div>
                </div>
              </div>

              <label>
                <strong>Puntos de prueba de paso requeridos</strong><br />
              </label>
              <hr />

              <% if(typeof puntos != 'undefined' && puntos.length != 0) { %>

              <ul class="list-group" id="listaBeacons">
                <% puntos.forEach(result => { %>

                <li class="list-group-item" name="<%= result.ciudad %>">
                  <div class=" d-flex align-items-center">
                    <input type="checkbox" name="punto" value="<%= result.name %>"/>
                    <span class="d-none"><%= result.ciudad %></span>
                    <span class="ml-2"><%= result.name %></span>
                    <h6 class="text-muted ml-auto">
                        <%= result.ciudad %>
                  </h6>
                  </div>
                </li>

                <% }); %>
              </ul>

              <% } else { %>

              <div class="alert alert-warning" role="alert">
                No hay Puntos de prueba de paso creados
              </div>

              <% } %>

              <div class="form-group mt-3">
                <button class="btn btn-primary btn-block" type="submit">
                  Crear ruta
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>

      <%/* } */%>
    </div>
  </div>
</div>

<%- include ../partials/messages.ejs %> <%- include ../partials/footer.ejs %>
