<%- include ../partials/head.ejs %> <%- include ../partials/navbar.ejs %>

<div class="container-fluid mt-2 container-expand-md">
  <div>
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link active" role="tab" data-toggle="tab" href="#tab-1"
          >Por terminar</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" role="tab" data-toggle="tab" href="#tab-2"
          >Terminadas</a
        >
      </li>
    </ul>

    <!-- Pestanas -->

    <div class="tab-content">

    <!-- Pestana 1 -->

      <div class="tab-pane active" role="tabpanel" id="tab-1">
        <div id="recompensas" class="tab-panel">
            <label>
              <strong>Lista de rutas por terminar</strong><br />
            </label>
            <hr />

            <% if(typeof rutas != 'undefined' && rutas.length != 0) { %>

          <div class="form-container">
            
            <div id="accordion">

              <!-- Lista de tarjetas desplegables -->

              <% rutas.forEach(result => { %>

              <% if (!result.terminada){ %>

              <div class="card mb-2">
                <div class="card-header d-flex justify-content-between align-items-center">
                  
                  <h5>
                    <button
                      class="btn btn-link show"
                      type="button"
                      data-toggle="collapse"
                      data-target="#<%= result.name.replace(/ /g, "") %>"
                    >
                    <%= result.name %>
                    </button>
                  </h5>
                  <h6 class="mr-4 text-muted ">
                      <%= result.ciudad %>
                </h6>

                </div>
                <div id="<%= result.name.replace(/ /g, "") %>" 
                  class="collapse" 
                  data-parent="#accordion">

                  <div class="card-body">
                    <div class="row">
                      <div class="col-6">

                        <label>
                          <strong>Puntos de prueba de paso completados</strong><br />
                        </label>
                        <hr />

                        <ul class="list-group text-success">

                          <% result.beacons.forEach(result => { %>

                          <% if (result.validado){ %>

                          <li class="list-group-item">
                            <div><span><%= result.name %></span></div>
                          </li>

                          <% } %>
                          <% }); %>

                        </ul>
                      </div>

                      <div class="col-6">

                        <label>
                          <strong>Puntos de prueba de paso restantes</strong><br/>
                        </label>
                        <hr />

                        <ul class="list-group text-danger">

                            <% result.beacons.forEach(beacon2 => { %>

                              <% if (!beacon2.validado){ %>

                          <form method="POST" action="/beacons/validate/<%= beacon2.name %>">
                          <li class="list-group-item">
                            <div>
                              <div class="row">
                                <div class="d-lg-flex align-items-lg-center col-6">
                                  <span><%= beacon2.name %></span>
                                </div>
                                <div class="d-lg-flex justify-content-lg-end align-items-lg-center col-6">
                                  <input class="d-none" type="text" name="reward" value="<%= result.name %>">
                                  <button
                                    class="btn btn-success btn-sm"
                                    type="submit"
                                  >
                                    Validar
                                  </button>
                                </div>
                              </div>
                            </div>
                          </li>
                        </form>
                          <% } %>
                          <% }); %>

                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <% } %>

              <% }); %>

            </div>
          </div>

          <% } else { %>

            <div class="alert alert-warning" role="alert">
              No has empezado ninguna ruta
            </div>
  
            <% } %>

        </div>
      </div>
      <div class="tab-pane" role="tabpanel" id="tab-2">
        <div id="crear-recompensa" class="tab-panel">
          <div class="form-container">
            <label><strong>Lista de rutas terminadas</strong><br /></label>
            <hr />
            <ul class="list-group">
              <li class="list-group-item">
                <div class="row">
                  <div class="d-lg-flex align-items-lg-center col-8">
                    <span>Ruta barrio de Tetuan</span>
                  </div>
                  <div class="d-lg-flex justify-content-lg-end col-4">
                    <button
                      class="btn btn-success btn-sm"
                      type="button"
                      id="boton-validar-r"
                    >
                      Validar recompensa
                    </button>
                  </div>
                </div>
              </li>
              <li class="list-group-item">
                <div class="row">
                  <div class="d-lg-flex align-items-lg-center col-8">
                    <span>Ruta barrio de Chamartin</span>
                  </div>
                  <div class="d-lg-flex justify-content-lg-end col-4">
                    <button
                      class="btn btn-success btn-sm"
                      type="button"
                      disabled="disabled"
                    >
                      Validar recompensa
                    </button>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%- include ../partials/footer.ejs %>
