<%- include ../partials/head.ejs %> <%- include ../partials/navbar.ejs %>

<div class="container-fluid mt-2">
  <div>
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link active" role="tab" data-toggle="tab" href="#tab-1"
          >Puntos de recompensa</a
        >
      </li>

      <%/* if(role === "admin" || role === "hostelero"){ */%>

      <li class="nav-item">
        <a class="nav-link" role="tab" data-toggle="tab" href="#tab-2"
          >Crear punto de recompensa</a
        >
      </li>

      <%/* } */%>

    </ul>

    <!-- Pestanas -->

    <div class="tab-content">
      <!-- Pestana 1 -->

      <div class="tab-pane active" role="tabpanel" id="tab-1">
        <div id="puntos-recompensa" class="tab-panel">
          <label> <strong>Lista de puntos de recompensa</strong><br /> </label>
          <hr />

          <% if(typeof puntos != 'undefined' && puntos.length != 0) { %>

          <div class="form-container">
            <div id="accordion">
              <!-- Lista de tarjetas desplegables -->

              <% puntos.forEach(result => { %>

              <div class="card mb-2">
                <div class="card-header d-flex justify-content-between align-items-center">
                  <h5>
                    <button
                      class="btn btn-link"
                      type="button"
                      data-toggle="collapse"
                      data-target="#<%= result.name.replace(/ /g, "") %>"
                    >
                      <%= result.name %>
                    </button>
                  </h5>
                  <h6 class="mr-4 text-muted ">
                      <%= result.ciudad %>
                </h6>
                </div>
                <div
                  id="<%= result.name.replace(/ /g, "") %>"
                  class="collapse"
                  data-parent="#accordion"
                >
                  <div class="card-body">
                    <form
                      method="POST"
                      action="/reward-points/<%= result._id %>?_method=PUT"
                      class="mb-3"
                    >
                      <div class="form-group d-flex align-items-center">
                        <div class="input-group mb-3">
                          <div class="input-group-prepend">
                            <span class="input-group-text">Nombre</span>
                          </div>
                          <input
                            class="form-control"
                            type="text"
                            name="name"
                            value="<%= result.name %>"
                          />
                        </div>
                      </div>
                      <div class="form-group d-flex align-items-center">
                        <div class="input-group mb-3">
                          <div class="input-group-prepend">
                            <span class="input-group-text">Descripción</span>
                          </div>
                          <input
                            class="form-control"
                            type="text"
                            name="descripcion"
                            value="<%= result.descripcion %>"
                          />
                        </div>
                      </div>
                      <div class="form-group d-flex align-items-center">
                        <div class="input-group mb-3 mr-2">
                          <div class="input-group-prepend">
                            <span class="input-group-text">Longitud</span>
                          </div>
                          <input
                            class="form-control"
                            type="text"
                            name="longitud"
                            value="<%= result.longitud %>"
                          />
                        </div>
                        <div class="input-group mb-3">
                          <div class="input-group-prepend">
                            <span class="input-group-text">Latitud</span>
                          </div>
                          <input
                            class="form-control"
                            type="text"
                            name="latitud"
                            value="<%= result.latitud %>"
                          />
                        </div>
                      </div>
                      <div class="form-group d-flex align-items-center">
                        <div class="input-group mb-3">
                          <div class="input-group-prepend">
                            <span class="input-group-text">Ciudad</span>
                          </div>
                          <input
                            class="form-control"
                            type="text"
                            name="ciudad"
                            value="<%= result.ciudad %>"
                          />
                        </div>
                      </div>

                      <%/* if(role === "admin" || role === "hostelero"){ */%>

                      <!-- Modificar -->
                      <div class="col-6 d-inline-block float-left">
                        <button
                          class="btn btn-primary btn-block"
                          type="submit"
                          id="boton-modificar-pr"
                        >
                          Modificar
                        </button>
                      </div>

                      <%/* } */%>

                    </form>

                    <%/* if(role === "admin"  || role === "hostelero"){ */%>

                    <!-- Eliminar -->
                    <div class="col-6 d-inline-block">
                      <form
                        method="POST"
                        action="/reward-points/<%= result._id %>?_method=DELETE"
                      >
                        <button class="btn btn-danger btn-block" type="submit">
                          Eliminar
                        </button>
                      </form>
                    </div>

                    <%/* } */%>

                  </div>
                </div>
              </div>

              <% }); %>
            </div>
          </div>

          <% } else { %>

          <div class="alert alert-warning" role="alert">
            No hay Puntos de recompensa creados
          </div>

          <% } %>
        </div>
      </div>

      <!-- Pestana 2 -->

      <%/* if(role === "admin"  || role === "hostelero"){ */%>

      <div class="tab-pane" role="tabpanel" id="tab-2">
        <div id="crear-puntos-recompensa" class="tab-panel">
          <label>
            <strong>Datos del punto de recompesa</strong>
          </label>
          <hr />

          <div class="form-container">
            <form method="POST" class="mb-3">
              <div class="form-group d-flex align-items-center">
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text">Nombre</span>
                  </div>
                  <input class="form-control" type="text" name="name" />
                </div>
              </div>
              <div class="form-group d-flex align-items-center">
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text">Descripción</span>
                  </div>
                  <input class="form-control" type="text" name="descripcion" />
                </div>
              </div>
              <div class="form-group d-flex align-items-center">
                <div class="input-group mb-3 mr-2">
                  <div class="input-group-prepend">
                    <span class="input-group-text">Longitud</span>
                  </div>
                  <input class="form-control" type="text" name="longitud" />
                </div>

                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text">Latitud</span>
                  </div>
                  <input class="form-control" type="text" name="latitud" />
                </div>
              </div>
              <div class="form-group d-flex align-items-center">
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text">Ciudad</span>
                  </div>
                  <input class="form-control" type="text" name="ciudad" />
                </div>
              </div>
              <div class="form-group">
                <button class="btn btn-primary btn-block" type="submit">
                  Crear punto de recompensa
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>

      <%/* } */%>

    </div>
  </div>
</div>

<%- include ../partials/messages.ejs %> <%- include ../partials/footer.ejs %>
